[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/hugo-blog-awesomee"]
	path = themes/hugo-blog-awesomee
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
